ePubIntegrator/XSD/activeAll.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="activeAll" type="months" />

  <xs:complexType name="months">
    <xs:sequence>
      <xs:element name="month" type="month" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="month">
    <xs:sequence>
      <xs:element name="date" type="xs:string" />
      <xs:element name="counter" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>


</xs:schema>