ePubIntegrator/XSD/config.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="config" type="configType" />

  <xs:complexType name="configType">
  	<xs:sequence>
	  <xs:element name="pathEpubs" type="xs:string" />
	  <xs:element name="user" type="userType" />
	</xs:sequence>
  </xs:complexType>

  <xs:complexType name="userType">
	<xs:sequence>
      <xs:element name="id" type="xs:integer" />
      <xs:element name="username" type="xs:string" />
      <xs:element name="email" type="xs:string" />
      <xs:element name="birthdate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>