ePubIntegrator/XSD/mostActive.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="mostActive" type="mostActive" />
  
  <xs:complexType name="mostActive">
    <xs:sequence>
      <xs:element name="date" type="xs:string" />
      <xs:element name="counter" type="xs:integer" />
    </xs:sequence>
  </xs:complexType>


</xs:schema>