ePubIntegrator/XSD/newUser.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="authentication" type="authenticationType" />

  <xs:complexType name="authenticationType">
    <xs:sequence>
      <xs:element name="nickname" type="xs:string" />
      <xs:element name="email" type="xs:string" />
      <xs:element name="password" type="xs:string" />
      <xs:element name="birthDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
