ServiceePubCloud/XSD/login.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="login" type="loginType" />

  <xs:complexType name="loginType">
    <xs:sequence>
      <xs:element name="email" type="xs:string" />
      <xs:element name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>
